/*Format document*/
html,body{
    height:297mm;
    width:210mm;
    background-image: url("assets/background/bg-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.page{
    display: block;
    margin: 0 1cm 0.5cm;
}
/*Format content*/

#profile-photo{
    width: 25%;
    height: 25%;
    border-radius: 50px;
    border-color: cornflowerblue;
    border-style: solid;
    border-width: 2px;
}

header{
    display: flex;
    width: calc(100% + 0.5cm - 45px);
    flex-direction: row;
    justify-content: space-between;
    margin-left: 45px;
}

#personal{
    margin-top: 50px;
    margin-right: 70px;
}

#name, #surname{
    font-family: "arial", Helvetica, sans-serif;
    font-size: 46px;
    letter-spacing: .2rem;
    margin-left: 10px;
    text-align: center;
    text-transform: uppercase;
}

#description{
    font-family: "Century Gothic ", arial, serif;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#contact, #technical-stack, #languages, #hobby {
    margin-left: -0.5cm;
}

#contact{
    display: flex;
    flex-direction: column;
}

#contact>div{
    margin-top: 10px;
}

#contact>div>a, #live-demo>ul>li>a{
    display: flex;
    text-decoration:none;
    color: #5f9401;
    font-size: 20px;
}

#contact>div>a>p>img, #live-demo>img{
    width: 20px;
    margin-right: 5px;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links>p{
    margin: 2px;
}

#live-demo{
    height: 95px;
}

#live-demo>p{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0;
}

#live-demo>p>img{
    width: 10%;
    padding-right: 5px;
}

#live-demo>ul>li{
    margin-bottom: 5px;
}

#technical-stack, #hobby-content {
    text-align: justify;
    font-family: "arial", Helvetica, sans-serif;
}

#technical-stack>dt, #languages>dl>dt, #hobby>p {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .2rem;
}

#technical-stack>dd{
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

#technical-stack dd:after{
    content: ", ";
}

#technical-stack dd:last-child:after{
    content: "";
}

#languages>dl>dd{
    display: list-item;
    list-style-type: disc;
    margin-left: 60px;
}

#about {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*position: absolute;*/
}

#content{
    display: grid;
    grid-template-columns: 260px 480px;
}

aside{

}

